<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <script src="{% static "jquery-3.2.1.js" %}"></script>
    <title>Destination Endpoint Mockup</title>
    <script type="text/javascript">
        function openPopupCenter(url, title, w, h, action) {
            // Fixes dual-screen position                         Most browsers      Firefox
            var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
            var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

            var width = window.innerWidth ? window.innerWidth :
                document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
            var height = window.innerHeight ? window.innerHeight :
                document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

            var left = ((width / 2) - (w / 2)) + dualScreenLeft;
            var top = ((height / 2) - (h / 2)) + dualScreenTop;
            var newWindow = window.open('', title,
                'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
            newWindow.addEventListener('focus', function () {
                $.get({
                    url: "/flow_requests/",
                    data: {
                        csrfmiddlewaretoken: getCookie('csrftoken'),
                        action: action
                    },
                    success: function (res) {
                        console.log(res);
                        newWindow.location.replace(res['confirm_url']);
                    },
                    error: function (error) {
                        $("#response").append(error);
                    }
                });
            }, false);

            if (window.focus) {
                newWindow.focus();
            }
        }

        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(document).ready(function () {
            $("#flow-add-button").click(function () {
                openPopupCenter("", "", 1024, 640, 'post');
            });
        });
    </script>
</head>
<body>
    <button id="flow-add-button" name="flow-add">Add requests</button>
<div id="response">
</div>
</body>
</html>