*.vscode
*.env
*.cda
*.db
*.log
*.idea
*.iml
*.sqlite3
*.pyc
*/docs/_build/
*_build
*.netbeans_automatic_build
nb-configuration.xml
*.class
test-ws
${env.CATALINA_HOME}
/source_frontend/target/

#certificates
certs/ca/
/hgw_backend/media/

# dependencies
/* node */
**/node_modules
/djangosaml2/

# logs
**/kafka-logs/
**/version-2/

