<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<md:EntityDescriptor xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"
                     xmlns:ns1="urn:oasis:names:tc:SAML:metadata:algsupport"
                     entityID="https://${CONSENT_MANAGER_ADDR}/saml2/metadata/"
                     validUntil="2020-09-10T16:41:26Z">
    <md:Extensions>
        <ns1:DigestMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#md5"/>
        <ns1:DigestMethod Algorithm="http://www.w3.org/2001/04/xmlenc#ripemd160"/>
        <ns1:DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1"/>
        <ns1:DigestMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#sha224"/>
        <ns1:DigestMethod Algorithm="http://www.w3.org/2001/04/xmlenc#sha256"/>
        <ns1:DigestMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#sha384"/>
        <ns1:DigestMethod Algorithm="http://www.w3.org/2001/04/xmlenc#sha512"/>
        <ns1:SigningMethod Algorithm="http,//www.w3.org/2000/09/xmldsig#dsa-sha1"/>
        <ns1:SigningMethod Algorithm="http://www.w3.org/2009/xmldsig11#dsa-sha256"/>
        <ns1:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-md5"/>
        <ns1:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-ripemd160"/>
        <ns1:SigningMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1"/>
        <ns1:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha224"/>
        <ns1:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"/>
        <ns1:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha384"/>
        <ns1:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha512"/>
    </md:Extensions>
    <md:SPSSODescriptor AuthnRequestsSigned="true" WantAssertionsSigned="true"
                        protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol">
        <md:KeyDescriptor use="signing">
            <ds:KeyInfo>
                <ds:X509Data>
                    <ds:X509Certificate>MIIFVzCCAz+gAwIBAgICEBQwDQYJKoZIhvcNAQELBQAwUjELMAkGA1UEBhMCSVQx
                        DjAMBgNVBAgMBUl0YWx5MQwwCgYDVQQKDANUUE0xEDAOBgNVBAsMB1RQTSBERVYx
                        EzARBgNVBAMMClRQTSBXZWIgQ0EwHhcNMjAwMTIxMTcwMDIzWhcNMjEwMTIwMTcw
                        MDIzWjBYMQswCQYDVQQGEwJJVDEOMAwGA1UECAwFSXRhbHkxDDAKBgNVBAoMA1RQ
                        TTESMBAGA1UECwwJVFBNIFNBTUwyMRcwFQYDVQQDDA5jb25zZW50bWFuYWdlcjCC
                        ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALxS9d0MLheqOZZxeYdRK6DR
                        3TH/361WR4ASHOp96KeJJIhlKr8bDDrZ5F+jeD52D5t35YnW+HBhqXB43OP5ypQ1
                        Q3p2GRq7rmSOPoyAf0vaYE8rqOiNKZJJyHjhgBUkgwZUoX1Gx3gzKPSCGEBTSOFq
                        Cx/gPdsSahGGmtVvTPjJbStl4xewJ0M2rWw8N3Nwup1scvfzmxqtxQ4jx7oci6T5
                        TFqbhoav5L8bOJ/DCYNO6duEjj1sxoCeoMyqpbrsds6Ln/S1jdbk1KtAt+PDHiCw
                        ghUD+WSkvyU6hgW8bDKJOQ8b9DXLy83uRQRmIRlPVNJkpK0hTbhviq4SmqkbYfMC
                        AwEAAaOCAS8wggErMAkGA1UdEwQCMAAwEQYJYIZIAYb4QgEBBAQDAgZAMDMGCWCG
                        SAGG+EIBDQQmFiRPcGVuU1NMIEdlbmVyYXRlZCBTZXJ2ZXIgQ2VydGlmaWNhdGUw
                        HQYDVR0OBBYEFJaKFTdQ0vs5hcEILad9PFUVm0inMIGRBgNVHSMEgYkwgYaAFHZX
                        W0FcvkhJVHw8aDUKVsmZqJj4oWqkaDBmMQswCQYDVQQGEwJJVDEOMAwGA1UECAwF
                        SXRhbHkxETAPBgNVBAcMCENhZ2xpYXJpMQwwCgYDVQQKDANUUE0xEDAOBgNVBAsM
                        B1RQTSBERVYxFDASBgNVBAMMC1RQTSBSb290IENBggIQADAOBgNVHQ8BAf8EBAMC
                        BaAwEwYDVR0lBAwwCgYIKwYBBQUHAwEwDQYJKoZIhvcNAQELBQADggIBAADB6f+m
                        GdUFPuFuk4I0Ub7s0fMQJgNufqEufT32ykcmPW6R5lnOg8+joMWSJkNK8Hmkqu2r
                        s8SVIdv/itswzCpyO1UYQr6iaj0+G4Edoflq9KA+EyxCH4v53Ae9WSEDwZK74vty
                        YH+VCfEDG/FPsqPsGdEQdsM1WGyoAFvjAiUn8EhPhAVRlg8UqcvD911+20IwfHM6
                        CXReaRpYavzfOASWqf9DjLsvbpta2+nK36is+JIRysadlm3uH5e82v4C+uw0dpaf
                        mjwlV36tx8PYCQU5I+HHD1LbKsGyOPFmn64lhSh3IAXKeLMeFlqQ981UsMbQA818
                        WajxUylfQENBrk82KK4ar4cpsFM409ABweK/2har7+JGWPrNO8ovXuqJDGYjxKi/
                        rIFGxxqjedWmDmo2o1Of86ZDfxkEh3fQ4BifqFyfB1Q7AMdhiX6UuB5/2nky4COu
                        ad0IlURNItZ61IR9QtDzB0rKg0BBIKUUuIFV64T4tkhiyc6I0tBBSBEcsPZB168z
                        32py/Nq1K64od0AL2QRxR5TsDRK9FbuHUzmPxa3AfZIHdBJqSykfTKiSQ3vbWm7c
                        nZ8LYQB13qHfv3yyQVd4cwfQepQXlE6WgP8/3QRi1uzYRgN8kAN9WPx2orpZeRpc
                        hmHceqCm9xoWvEV0IlB8xORtzOPh8KH6cYOU
                    </ds:X509Certificate>
                </ds:X509Data>
            </ds:KeyInfo>
        </md:KeyDescriptor>
        <md:SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"
                                Location="https://${CONSENT_MANAGER_ADDR}/saml2/ls/"/>
        <md:SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"
                                Location="https://${CONSENT_MANAGER_ADDR}/saml2/ls/post/"/>
        <md:NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:transient</md:NameIDFormat>
        <md:AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"
                                     Location="https://${CONSENT_MANAGER_ADDR}/saml2/acs/" index="1"/>
        <md:AttributeConsumingService index="1">
            <md:ServiceName xml:lang="en"/>
            <md:RequestedAttribute FriendlyName="uid" Name="urn:oid:0.9.2342.19200300.100.1.1"
                                   NameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" isRequired="true"/>
            <md:RequestedAttribute FriendlyName="fiscalNumber" Name="urn:mace:dir:attribute-def:fiscalNumber"
                                   NameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" isRequired="true"/>
        </md:AttributeConsumingService>
    </md:SPSSODescriptor>
</md:EntityDescriptor>