// Mixing to make breakpoints a little easier. Can be expanded with any breakpoints as needed.
@mixin breakpoint($point) {
  @media (min-width: 48rem) {
    @content ;
  }
}

// Variables ===================================================================

// Namespace so that it's easy to use your own table namespace
$namespace: "stack-table";
$table-wrapped-header: 120px;
$table-cell-padding: 6px;
$color-table-head: #325d88 !default;
$color-table-spanned: lighten($color-table-head, 15%);
$color-table-odd: #c6d2de !default;
$color-table-even: lighten($color-table-odd, 10%);
$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

.#{$namespace} {

  transition: 0.5s;
  padding-bottom: 0;
  width: 100%;
  font-family: $font-family-sans-serif;
  //border: 1px solid darken($color-table-odd, 70%);
  margin-bottom: 10px;

  &-head {
    display: none;
    visibility: hidden;
    color: white;

    // Desktop
    @include breakpoint(medium) {
      width: 100%;
      display: table-header-group;
      visibility: visible;
    }
  }

  &-body,
  &-row,
  &-cell {
    display: block;
    border: 0;
    text-align: left;
    white-space: normal;

    // table cells in the table main header row
    .#{$namespace}-head & {

      // desktop
      @include breakpoint(medium) {
        padding: 0.75rem;
        font-size: 0.8203125rem;
        background: $color-table-head;
      }
    }
  }

  &-row {
    // Desktop
    @include breakpoint(medium) {
      display: table-row;
      width: 100%;

      .#{$namespace}-cell {
        display: table-cell;
      }
    }

    background-color: $color-table-odd;

    &:nth-child(even) {
      background-color: $color-table-even;
    }

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  &-cell {
    padding: $table-cell-padding;
    transition: 1s;

    // All cells that belong to the table body
    .#{$namespace}-body & {
      text-align: left;
      padding: 10px;
      border: 1px solid darken($color-table-even, 5%);
    }
  }

  &-body {
    display: table-row-group;
  }

  &-cell[data-title]:before {
    display: inline-block;
    min-width: $table-wrapped-header;
    content: attr(data-title);
    font-weight: bold;

    // Desktop
    @include breakpoint(medium) {
      display: none;
      content: "";
    }
  }

  &-cell:empty {
    display: none;

    // Desktop
    @include breakpoint(medium) {
      display: table-cell;
    }
  }

  &-cell-header {

    // Desktop
    @include breakpoint(medium) {

      &[data-title]:before {
        display: none;
        content: "";
      }
    }

  }

  &-cell-spanned {
    color: white;
    font-size: 0.8rem;
    background-color: $color-table-spanned;
    border: 0 !important;
  }

  &-cell-modify {
    @include breakpoint(medium) {
      text-align: center !important;
    }
  }
}
