{% extends 'admin/base.html' %}
{% block title %}
    TS/CNS Login Authentication Page
{% endblock %}
{% block extrahead %}
<script type="text/javascript">
    cancel_redirect = function () {
        const qs_tokens = "{{ params.RelayState }}".split('?');

        const data = {};
        for (let k of qs_tokens[1].split("&amp;")) {
            let kk = k.split("=");
            data[kk[0]] = kk[1];
        }

        let callback_url= data["callback_url"];
        // it might happen that the callback_url param is not URL-encoded, so we get the remaining when split by '?'
        if (qs_tokens.length > 2){
            callback_url = encodeURI(callback_url + "?" + qs_tokens[2]);
        }

        window.location = "/v1/flow_requests/cancel/?confirm_id=" + data["confirm_id"] +
            "&callback_url=" + callback_url;
    };
</script>
{% endblock %}
{% block content %}
<div style="max-width: 80%; margin-left: 10%">
    <h2 align="center">TS/CNS Login Authentication Page</h2>
    <b>TS/CNS Identification</b>
<p>
            Ensure you have your TS/CNS reader properly connected and with the required drivers installed.
            Insert your TS/CNS card into the reader, then click on the TS/CNS Login button. You will be asked
            to enter your PIN and to confirm certificate selection.
</p>
    <form method="post" action="{{ target_url }}" name="SSO_Login">
        {% for key, value in params.items %}
            {% if key == "SAMLRequest" %}
                <input type="hidden" name="{{ key|safe }}" value="{{ value.decode|safe }}"/>
            {% else %}
                <input type="hidden" name="{{ key|safe }}" value="{{ value|safe }}"/>
            {% endif %}
        {% endfor %}
        <input type="button" class="cancel-link" onclick="cancel_redirect()" style="margin: 2px 0" value="Back"/>
        <input type="submit" class="default" value="Log in"/>
    </form>
</div>
{% endblock %}
