/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.jumbotron {
  padding: 2rem 2rem;
}

.link {
  color: black !important;
}

.custom-date-picker-label {
  padding-left: 20px;
}

.react-datepicker-wrapper {
  display: block;
}